1.Development/DoCol/Gulliver.DoCol.ReportServices/Service References/Service/Services1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.133.28.125/Reports/Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.133.28.125/Reports/Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.133.28.125/Reports/Services.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://10.133.28.125/Reports/Services.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://10.133.28.125/Reports/Services.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_ExportPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportPDF" />
  </wsdl:message>
  <wsdl:message name="IServices_ExportPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_ExportPDFOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportPDFOutput" />
  </wsdl:message>
  <wsdl:message name="IServices_ExportPDFOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportPDFOutputResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_ExportCSVOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportCSVOutput" />
  </wsdl:message>
  <wsdl:message name="IServices_ExportCSVOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportCSVOutputResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="ExportPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/ExportPDF" message="tns:IServices_ExportPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/ExportPDFResponse" message="tns:IServices_ExportPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportPDFOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/ExportPDFOutput" message="tns:IServices_ExportPDFOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/ExportPDFOutputResponse" message="tns:IServices_ExportPDFOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportCSVOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/ExportCSVOutput" message="tns:IServices_ExportCSVOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/ExportCSVOutputResponse" message="tns:IServices_ExportCSVOutput_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportPDF">
      <soap:operation soapAction="http://tempuri.org/IServices/ExportPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportPDFOutput">
      <soap:operation soapAction="http://tempuri.org/IServices/ExportPDFOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportCSVOutput">
      <soap:operation soapAction="http://tempuri.org/IServices/ExportCSVOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://10.133.28.125/Reports/Services.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>